<!DOCTYPE html>
<html lang="zxx" class="js">
  <head>
    <base href="../" />
    <meta charset="utf-8" />
    <meta name="author" content="Softnio" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers." />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/assets/ecta_dispatch/assets/images/favicon.png" />
    <!-- Page Title  -->
    <title>Outgoings</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.css" integrity="sha512-hksROWRSWPuYnv0z5vhyUwobZ49ZBxzhsCdXhwFy9ZDFFMS2UOg1DgCKphTlWkibm7p3Fp6Vq6GffbNDd+tOgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/ecta_dispatch/assets/css/dashlite.css?ver=2.4.0" />
    <link id="skin-default" rel="stylesheet" href="/assets/ecta_dispatch/assets/css/theme.css?ver=2.4.0" />
  </head>

  <body class="nk-body bg-lighter npc-default has-sidebar">
    <div class="nk-app-root">
      <!-- main @s -->
      <div class="nk-main">
        <!-- sidebar @s -->
        <div class="nk-sidebar nk-sidebar-fixed is-light" data-content="sidebarMenu">
          <div class="nk-sidebar-element nk-sidebar-head">
            <div class="nk-sidebar-brand">
              <a href="html/index.html" class="logo-link nk-sidebar-logo">
                <img class="logo-light logo-img" src="/assets/ecta_dispatch/assets/images/logo.png" srcset="/assets/ecta_dispatch/assets/images/logo2x.png 2x" alt="logo" />
                <img class="logo-dark logo-img" src="/assets/ecta_dispatch/assets/images/logo-dark.png" srcset="/assets/ecta_dispatch/assets/images/logo-dark2x.png 2x" alt="logo-dark" />
                <img class="logo-small logo-img logo-img-small" src="/assets/ecta_dispatch/assets/images/logo-small.png" srcset="/assets/ecta_dispatch/assets/images/logo-small2x.png 2x" alt="logo-small" />
              </a>
            </div>
            <div class="nk-menu-trigger mr-n2">
              <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">Acr</a>
              <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
            </div>
          </div>
          <!-- .nk-sidebar-element -->
          <div class="nk-sidebar-element">
            <div class="nk-sidebar-content">
              <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                  <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Dashboards</h6>
                  </li>
                  <!-- .nk-menu-item -->
                  <li class="nk-menu-item">
                    <a href="/warehouse" class="nk-menu-link">
                      <span class="nk-menu-icon"><em class="icon ni ni-cart-fill"></em></span>
                      <span class="nk-menu-text">any link</span>
                    </a>
                  </li>
                  <!-- .nk-menu-item -->

                  <!-- <li class="nk-menu-item">
                                    <a href="html/index-analytics.html" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-growth-fill"></em></span>
                                        <span class="nk-menu-text">Analytics</span>
                                    </a>
                                </li> -->
                </ul>
                <!-- .nk-menu -->
              </div>
              <!-- .nk-sidebar-menu -->
            </div>
            <!-- .nk-sidebar-content -->
          </div>
          <!-- .nk-sidebar-element -->
        </div>
        <!-- sidebar @e -->
        <!-- wrap @s -->
        <div class="nk-wrap">
          <!-- main header @s -->
          <div class="nk-header nk-header-fixed is-light">
            <div class="container-fluid">
              <div class="nk-header-wrap">
                <div class="nk-menu-trigger d-xl-none ml-n1">
                  <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                </div>
                <div class="nk-header-brand d-xl-none">
                  <a href="html/index.html" class="logo-link">
                    <img class="logo-light logo-img" src="/assets/ecta_dispatch/assets/images/logo.png" srcset="./images/logo2x.png 2x" alt="logo" />
                    <img class="logo-dark logo-img" src="/assets/ecta_dispatch/assets/images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark" />
                  </a>
                </div>
                <!-- .nk-header-brand -->
                <div class="nk-header-search ml-3 ml-xl-0">
                  <em class="icon ni ni-search"></em>
                  <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search anything" />
                </div>
                <!-- .nk-header-news -->
                <div class="nk-header-tools">
                  <ul class="nk-quick-nav">
                    <li class="dropdown chats-dropdown hide-mb-xs">
                      <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                        <div class="icon-status icon-status-na"><em class="icon ni ni-comments"></em></div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                        <div class="dropdown-head">
                          <span class="sub-title nk-dropdown-title">Recent Chats</span>
                          <a href="#">Setting</a>
                        </div>
                        <div class="dropdown-body">
                          <ul class="chat-list">
                            <li class="chat-item">
                              <a class="chat-link" href="html/apps-chats.html">
                                <div class="chat-media user-avatar">
                                  <span>IH</span>
                                  <span class="status dot dot-lg dot-gray"></span>
                                </div>
                                <div class="chat-info">
                                  <div class="chat-from">
                                    <div class="name">Iliash Hossain</div>
                                    <span class="time">Now</span>
                                  </div>
                                  <div class="chat-context">
                                    <div class="text">You: Please confrim if you got my last messages.</div>
                                    <div class="status delivered">
                                      <em class="icon ni ni-check-circle-fill"></em>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </li>
                            <!-- .chat-item -->
                            <li class="chat-item is-unread">
                              <a class="chat-link" href="html/apps-chats.html">
                                <div class="chat-media user-avatar bg-pink">
                                  <span>AB</span>
                                  <span class="status dot dot-lg dot-success"></span>
                                </div>
                                <div class="chat-info">
                                  <div class="chat-from">
                                    <div class="name">Abu Bin Ishtiyak</div>
                                    <span class="time">4:49 AM</span>
                                  </div>
                                  <div class="chat-context">
                                    <div class="text">Hi, I am Ishtiyak, can you help me with this problem ?</div>
                                    <div class="status unread">
                                      <em class="icon ni ni-bullet-fill"></em>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </li>
                            <!-- .chat-item -->
                            <li class="chat-item">
                              <a class="chat-link" href="html/apps-chats.html">
                                <div class="chat-media user-avatar">
                                  <img src="/assets/ecta_dispatch/assets/images/avatar/b-sm.jpg" alt="" />
                                </div>
                                <div class="chat-info">
                                  <div class="chat-from">
                                    <div class="name">George Philips</div>
                                    <span class="time">6 Apr</span>
                                  </div>
                                  <div class="chat-context">
                                    <div class="text">Have you seens the claim from Rose?</div>
                                  </div>
                                </div>
                              </a>
                            </li>
                            <!-- .chat-item -->
                            <li class="chat-item">
                              <a class="chat-link" href="html/apps-chats.html">
                                <div class="chat-media user-avatar user-avatar-multiple">
                                  <div class="user-avatar">
                                    <img src="/assets/ecta_dispatch/assets/images/avatar/c-sm.jpg" alt="" />
                                  </div>
                                  <div class="user-avatar">
                                    <span>AB</span>
                                  </div>
                                </div>
                                <div class="chat-info">
                                  <div class="chat-from">
                                    <div class="name">Softnio Group</div>
                                    <span class="time">27 Mar</span>
                                  </div>
                                  <div class="chat-context">
                                    <div class="text">You: I just bought a new computer but i am having some problem</div>
                                    <div class="status sent">
                                      <em class="icon ni ni-check-circle"></em>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </li>
                            <!-- .chat-item -->
                            <li class="chat-item">
                              <a class="chat-link" href="html/apps-chats.html">
                                <div class="chat-media user-avatar">
                                  <img src="/assets/ecta_dispatch/assets/images/avatar/a-sm.jpg" alt="" />
                                  <span class="status dot dot-lg dot-success"></span>
                                </div>
                                <div class="chat-info">
                                  <div class="chat-from">
                                    <div class="name">Larry Hughes</div>
                                    <span class="time">3 Apr</span>
                                  </div>
                                  <div class="chat-context">
                                    <div class="text">Hi Frank! How is you doing?</div>
                                  </div>
                                </div>
                              </a>
                            </li>
                            <!-- .chat-item -->
                            <li class="chat-item">
                              <a class="chat-link" href="html/apps-chats.html">
                                <div class="chat-media user-avatar bg-purple">
                                  <span>TW</span>
                                </div>
                                <div class="chat-info">
                                  <div class="chat-from">
                                    <div class="name">Tammy Wilson</div>
                                    <span class="time">27 Mar</span>
                                  </div>
                                  <div class="chat-context">
                                    <div class="text">You: I just bought a new computer but i am having some problem</div>
                                    <div class="status sent">
                                      <em class="icon ni ni-check-circle"></em>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </li>
                            <!-- .chat-item -->
                          </ul>
                          <!-- .chat-list -->
                        </div>
                        <!-- .nk-dropdown-body -->
                        <div class="dropdown-foot center">
                          <a href="html/apps-chats.html">View All</a>
                        </div>
                      </div>
                    </li>
                    <li class="dropdown notification-dropdown">
                      <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                        <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                        <div class="dropdown-head">
                          <span class="sub-title nk-dropdown-title">Notifications</span>
                          <a href="#">Mark All as Read</a>
                        </div>
                        <div class="dropdown-body">
                          <div class="nk-notification">
                            <div class="nk-notification-item dropdown-inner">
                              <div class="nk-notification-icon">
                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                              </div>
                              <div class="nk-notification-content">
                                <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                <div class="nk-notification-time">2 hrs ago</div>
                              </div>
                            </div>
                            <div class="nk-notification-item dropdown-inner">
                              <div class="nk-notification-icon">
                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                              </div>
                              <div class="nk-notification-content">
                                <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                <div class="nk-notification-time">2 hrs ago</div>
                              </div>
                            </div>
                            <div class="nk-notification-item dropdown-inner">
                              <div class="nk-notification-icon">
                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                              </div>
                              <div class="nk-notification-content">
                                <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                <div class="nk-notification-time">2 hrs ago</div>
                              </div>
                            </div>
                            <div class="nk-notification-item dropdown-inner">
                              <div class="nk-notification-icon">
                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                              </div>
                              <div class="nk-notification-content">
                                <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                <div class="nk-notification-time">2 hrs ago</div>
                              </div>
                            </div>
                            <div class="nk-notification-item dropdown-inner">
                              <div class="nk-notification-icon">
                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                              </div>
                              <div class="nk-notification-content">
                                <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                <div class="nk-notification-time">2 hrs ago</div>
                              </div>
                            </div>
                            <div class="nk-notification-item dropdown-inner">
                              <div class="nk-notification-icon">
                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                              </div>
                              <div class="nk-notification-content">
                                <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                <div class="nk-notification-time">2 hrs ago</div>
                              </div>
                            </div>
                          </div>
                          <!-- .nk-notification -->
                        </div>
                        <!-- .nk-dropdown-body -->
                        <div class="dropdown-foot center">
                          <a href="#">View All</a>
                        </div>
                      </div>
                    </li>
                    <li class="dropdown user-dropdown">
                      <a href="#" class="dropdown-toggle mr-n1" data-toggle="dropdown">
                        <div class="user-toggle">
                          <div class="user-avatar sm">
                            <em class="icon ni ni-user-alt"></em>
                          </div>
                          <div class="user-info d-none d-xl-block">
                            <div class="user-status user-status-active">active</div>
                            <div class="user-name dropdown-indicator">{{uid}}</div>
                          </div>
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                          <div class="user-card">
                            <div class="user-avatar">
                              <span>AB</span>
                            </div>
                            <div class="user-info">
                              <span class="lead-text">{{uid}}</span>
                              <span class="sub-text">{{uid}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown-inner">
                          <ul class="link-list">
                            <li>
                              <a href="html/user-profile-regular.html"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a>
                            </li>
                            <li>
                              <a href="html/user-profile-setting.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a>
                            </li>
                            <li>
                              <a href="html/user-profile-activity.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a>
                            </li>
                            <li>
                              <a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a>
                            </li>
                          </ul>
                        </div>
                        <div class="dropdown-inner">
                          <ul class="link-list">
                            <li>
                              <a href="/?cmd=web_logout"><em class="icon ni ni-signout"></em><span>Sign out</span></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- .nk-header-wrap -->
            </div>
            <!-- .container-fliud -->
          </div>

          <!-- main header @e -->
          <!-- content @s -->
          
          <div class="nk-content">
            <div class="container-fluid">
              <div class="nk-content-inner">
                <div class="nk-content-body">
                  <table class="datatable-init table">
                    <thead>
                      <tr>
                        <th scope="col">Exporter Name</th>
                        <th scope="col">Dispatch Date</th>
                        <th scope="col">Proof of Delivery</th>
                        <th scope="col">Action</th>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Sent warehouse</th>
                        <th scope="col">Exporter Type</th>
                        <th scope="col">Center</th>
                        <th scope="col">Modified</th>
                        <th scope="col">Total in Kilogram</th>
                        <th scope="col">Total in Bag</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for request in dispatches %}
                      <tr>
                        {#
                        <th scope="row">{{frappe.utils.pretty_date(request.modified)}}</th>
                        #}
                        <td>{{request.exporter_name}}</td>
                        
                        {#
                        <!-- <td><a href="{{request.excel_import}}" target="_blank">attachement</a> -->
                        #}
                        <td>{{frappe.format(request.creation, {'fieldtype': 'Date'})}}</td>
                        <td>
                          {% if request.status == "Delivered" or request.status == "Seen" %}
                           {% if request.proof_of_delivery %}
                          <a href="{{request.proof_of_delivery}}" target="_blank">Proof of delivery</a>
                          {% else %} {# NA #} {% endif %}
                        </td>
                          {% if request.approved %}
                        <td>
                          <a data-id="{{request.name}}" class="dispatchlinks text-success" data-toggle="modal" data-target="#Approve" data-backdrop="true">Approved</a>
                        </td>
                        {% else %}{% if (not request.approved) and request.status == "Seen" %}
                        <td>
                          <a data-id="{{request.name}}" class="dispatchlinks text-danger" data-toggle="modal" data-target="#Approve" data-backdrop="true">Seen; Not Approved</a>
                        </td>
                        {% else %}
                        <!-- <td><a href="#"  data-toggle="modal" data-target="#exampleModal">Edit</a></td> -->
                        <td>
                          <a data-id="{{request.name}}" class="dispatchlinks text-warning" data-toggle="modal" data-target="#Approve" data-backdrop="true">Not Seen</a>
                        </td>
                        {% endif %}
                        {% endif %} {% else %}
                        <td>
                          <a href="#"  data-target="{{request.name}}">NA</a>
                        </td>

                        {% endif %}
                        <td>{{request.serial_number}}</td>
                        <td>{{request.sent_warehouse}}</td>
                        <td>{{request.exporter_type}}</td>
                        <td>{{request.center}}</td>
                        
                        <td>{{frappe.format(request.modified, {'fieldtype':'Date'})}}</td>
                        <td>{{request.volume_in_ton}} KG</td>
                        <td >{{request.volume_in_bag}} Bag</td>
                      </tr>
                     
                      {% endfor %}
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-success">Total: {{sumofKG}} KG</td>
                        <td class="text-success">Total: {{sumofBag}} Bag</td>
                      </tr>

                    </tbody>
                  </table>

                  <div class="col-md-6">
                    <h3>Total Volume In Kilogram</h3>
                    <label >{{sumofKG}} KG</label>
                    <h3>Total Voluem in Bag</h3>
                    <label >{{sumofBag}} Bags</label>
                    

                 
                  <!-- Modal -->
                  <!-- Approve proof modal @s-->

                  <div id="Approve" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Dispatch Approval Form</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form id="compareform">
                            <div class="row">
                              <div class="col-md-6">
                                <h3>Warehouse</h3>
                                <label >Received Volume in Bag</label>
                                <input type="number" id="VBW" class="form-control formInputs inputs" name="received_volume_in_bag_warehouse" min="0" value="" disabled />
                                <label >Received Volume in Ton</label>
                                <input type="number"   id="VTW"class="form-control formInputs inputs" name="received_volume_in_ton_warehouse" min="0" value="" disabled />
                              </div>

                              <div class="col-md-6">
                                <h3>Initial Dispatch</h3>
                                <label >Received Volume in Bag</label>
                                <input type="number"  id="VBD" class="form-control formInputs inputs" name="received_volume_in_bag_dispatch" min="0" value="" disabled />
                                <label >Received Volume in Ton</label>
                                <input type="number"  id="VTD" class="form-control formInputs inputs" name="received_volume_in_ton_dispatch" min="0" value="" disabled />
                              </div>

                              <div class="col-md-12">
                                <br/>
                                <div class="custom-control custom-control-lg custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck1" />
                                  <label class="custom-control-label" for="customCheck1">Seen</label>
                                </div>
                                <div class="custom-control custom-control-lg custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck2" />
                                  <label class="custom-control-label" for="customCheck2">Approve</label>
                                </div>
                                <button id="saveBtn" class="btn btn-primary float-right" >Save</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        
      
        <!-- content @e -->
        <!-- footer @s -->
      
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="inputEmail4">Test</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" />
                    </div>
                    <div class="form-group col-md-12">
                      <label for="inputPassword4">Test input</label>
                      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" />
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <div class="nk-footer">
          <div class="container-fluid">
            <div class="nk-footer-wrap">
              <div class="nk-footer-copyright">&copy; 2020 DashLite. Template by <a href="https://softnio.com" target="_blank">Softnio</a></div>
              <div class="nk-footer-links">
                <ul class="nav nav-sm">
                  <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- footer @e -->
      </div>
      <!-- wrap @e -->
    </div>
    <!-- main @e -->

    <!-- app-root @e -->
    <!-- JavaScript -->
    

    <script src="/assets/ecta_dispatch/assets/js/bundle.js?ver=2.4.0"></script>
    <script src="/assets/ecta_dispatch/assets/js/ecta.js"></script>
    <script src="/assets/ecta_dispatch/assets/js/scripts.js?ver=2.4.0"></script>
    <script type="text/javascript" src="/assets/frappe/dist/js/desk.bundle.CDZ7J6NO.js"></script>
   
    <script>
      frappe.csrf_token = "{{frappe.session.csrf_token}}";
    </script>
    <script>
      
      $("#customCheck1").change(function() {
        console.log("i am changed");
        if ($(this).is(':checked') ) {
           $("#saveBtn").removeAttr("disabled");
        } else {
          console.log("i am in else");
          $("#saveBtn").attr("disabled", "disabled");
        }
      }).trigger("change");
      
    </script>
  
    
  </body>
</html>
