{% extends "templates/base_ecta.html" %} 
{% block title %}Warehouse{% endblock %} 
{% block content %}
<!-- content @s -->
<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="components-preview wide-md mx-auto">
          <div class="nk-block nk-block-lg">
            <div class="nk-block-head-content">
              <h2 class="nk-block-title">Warehouse</h2>
              <div class="nk-block-des">
                <p class="nk-block-title">This are dispatches of warehouse <b>{{warehouse[0]["name"]}}</b></p>
              </div>
            </div>
            <div class="card card-preview">
              <div class="card-inner">
                <div>
                  <table class="datatable-init table">
                    <thead>
                      <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Exporter Name</th>
                        <th scope="col">Coffee Type</th>
                        <th scope="col">Center</th>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Proof Of delivery</th>
                        <th scope="col">Dispatch Date</th>
                        <th scope="col">Last Updated</th>
                        <th scope="col">Receive</th>
                        <th>Seen by ECTA</th>
                        <th scope="col">Driver Name</th>
                        <th scope="col">Driver Phone</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for request in dispatches %}
                      <tr>
                        <!-- <th scope="row">{{request.name}}</th> -->
                        <td>{{request.exporter_name}}</td>
                        <td>{{request.coffee_type}}</td>
                        <td>{{request.center}}</td>
                        <td>{{ request.serial_number }}</td>
                        <td>
                          {% if request.proof_of_delivery %}
                          <a href="{{request.proof_of_delivery}}" target="_blank">Proof of delivery</a>
                          {% else %}
                          <span style="color: red">NA</span>
                          {% endif %}
                        </td>
                        <td>{{request.creation}}</td>
                        <td>{{request.modified}}</td>
                        {% if request.status == "Seen" %}
                        <td>Seen</td>
                        {% elif request.proof_of_delivery %}
                        <td><a href="#" data-id="{{request.name}}" class="dispatchName text-success" data-toggle="modal" data-target="#Receive" data-backdrop="true">Update</a></td>
                        {% else %}
                        <td><a href="#" data-id="{{request.name}}" class="dispatchName text-danger" data-toggle="modal" data-target="#Receive" data-backdrop="true">Receive</a></td>
                        {% endif %}

                        <td>
                          {% if request.approved %}

                          <em class="icon ni ni-check-thick"></em>
                          {% else %}<span style="color: red">NA</span>
                          
                          {% endif %}
                        </td>
                        <td>{{request.drivers_name}}</td>
                        <td>{{request.drivers_phone}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- .card-preview -->
          </div>
          <!-- nk-block -->
        </div>
        <!-- .components-preview -->
      </div>
    </div>
  </div>
</div>

<!-- Recieve proof modal @s-->

<div id="Receive" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dispatch Acceptance Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="dispatchForm">
          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label"></label>
              <label for="">Status</label>
              <select id="dispatchStatus" name="status" class="select">
                <option value="Delivered">Delivered</option>
                <option value="Undelivered">Not Delivered</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="">Received Volume in Bag</label>
              <input type="number" class="form-control formInputs inputs" name="received_volume_in_bag" min="0" value="" required />
            </div>
            <div class="col-md-6">
              <label for="">Received Volume in Ton</label>
              <input type="number" class="form-control formInputs inputs" name="received_volume_in_ton" min="0" value="" required />
            </div>
            <div class="col-md-6">
              <label for="">Proof of delivery</label>
              <input
                type="file"
                class="form-control formInputs"
                placeholder="File"
                name="image"
                accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                        text/plain, application/pdf, image/*"
                id="file"
                value=""
                required
              />
            </div>

            <div class="col-md-12">
              <br />
              <button class="btn btn-primary float-right">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- content @e -->

{% endblock %}
<script src="/assets/ecta_dispatch/assets/js/index.js"></script>
<script>
  frappe.csrf_token = "{{frappe.session.csrf_token}}";
</script>
{% block script %}

{% endblock %}
