{% extends "templates/base_ecta.html" %} 
{% block title %}balance{% endblock %} 
{% block content %}
<!-- content @s -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                {% block page_content %}

                                <div class="card" style="width: 100%">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12 pt-2">
                                                <h6>Avaliable Products</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="col-sm-10">
                                                            {% set date = frappe.format_value(frappe.utils.now(), {'fieldtype': 'Date'}) %}
                                                            {% set date_array = date.split("-") %}
                                                            {% set year = date_array[2] %}
                                                            
                                                            <select class="form-control bg-white text-center" id="year">
                                                                {% for i in range(year|int , 2000, -1) %}
                                                                    <option value="{{i}}">{{i}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select class="form-control bg-white" id="data-type">
                                                            <option value="Warehouse">Filter by Warehouse</option>
                                                            <option value="Exporter">Filter by Exporter</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body  table-responsive">
                                     <table class="table table-sm" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th scope="col" id="filter_title">Warehouse</th>
                                                    <th scope="col">Incoming(in Kg)</th>
                                                    <th scope="col">Outgoing(in Kg)</th>
                                                    <th scope="col">Adjustment</th>
                                                    <th scope="col">Wastage</th>
                                                    <th scope="col">EAQ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for  warehouse in all_warehouses %}
                                                    <tr>
                                                        <td>{{loop.index}}</td>
                                                        <td><a href="/balance/detail/{{warehouse.name}}/{{year}}">{{warehouse.name}}</a></td>
                                                        <td>{{warehouse.incoming}}</td>
                                                        <td>{{warehouse.outgoing}}</td>
                                                        <td>{{warehouse.balance}}</td>
                                                        <td>{{warehouse.wastage}}</td>
                                                        <td>{{warehouse.total}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endblock %} 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
{% endblock %}
{% block script %}
    <script>frappe.csrf_token="{{frappe.session.csrf_token}}";</script>
    <script>
    $(document).ready(function() {
        $("select").on("change", function(e){
            if ($(this).attr("id").localeCompare("data-type") == 0)
            {
                if($(this).val().localeCompare("Warehouse") == 0)
                    filter_by_warehouse();
                else if($(this).val().localeCompare("Exporter") == 0)
                    filter_by_exporter();
            }
            else if($(this).attr("id").localeCompare("year") == 0)
            {
                if($("#data-type").val().localeCompare("Warehouse") == 0)
                    filter_by_warehouse();
                else if($("#data-type").val().localeCompare("Exporter") == 0)
                    filter_by_exporter();
            }
        }); 
    });

        function filter_by_warehouse()
        {
            $.ajax({
                url: '/api/method/ecta_dispatch.api.dispatch_api.get_available_by_warehouse',
                data: {year: $("#year").val().trim(), "type": $("#data-type").val()},
                success: function(data)
                {
                    render_table(data, 1);   
                }

            });
        }

        function filter_by_exporter()
        {
            $.ajax({
                url: '/api/method/ecta_dispatch.api.dispatch_api.get_available_by_exporter',
                data: {year: $("#year").val().trim(), "type": $("#data-type").val()},
                success: function(data)
                {
                render_table(data, 2);   
                }

            });
        }

        function render_table(data, filter_type)
        {
            $("tbody").html("");

            if(filter_type == 2)
                $("#filter_title").text("Exporter");
            else if(filter_type == 1)
                $("#filter_title").text("Warehouse");

            var data = data.data;
            var counter = 1;
            data.forEach(e => {
                if(filter_type == 2)
                    var route = "/balance/exporter/"+e.exporter_id+"/"+$("#year").val()
                else if(filter_type == 1)
                    var route = "/balance/detail/"+e.name+"/"+$("#year").val()

                var row = $(`<tr>
                            <td>${counter}</td>
                            <td><a href="${route}">${e.name}</a></td>
                            <td>${e.incoming}</td>
                            <td>${e.outgoing}</td>
                            <td>${e.balance}</td>
                            <td>${e.wastage}</td>
                            <td>${e.total}</td>
                        </tr>`);
                
                $("tbody").append(row);
                counter++;
            });
        }
    </script>
{% endblock %}

</body>

</html>


