{% extends "templates/base_ecta.html" %} 
{% block title %}ECTA local{% endblock %} 
{% block content %}
          <!-- content @s -->
          <div class="nk-content">
            <div class="container-fluid">
              <div class="nk-content-inner">
                <div class="nk-content-body">
                  <div class="components-preview wide-md mx-auto">
                    <div class="nk-block nk-block-lg">
                      <div class="nk-block-head">
                        <div class="nk-block-head-content">
                          <h4 class="title nk-block-title">Outgoing dispatch : <label class="text-success"> {{doc}}</label></h4>
                        </div>
                      </div>
                      <div class="card card-preview">
                        <div class="card-inner">
                          <div class="preview-block">
                            <span class="preview-title-lg overline-title">Default Preview</span>
                            <form id="form">
                              {% for request in dispatch %}
          
                              <div class="row gy-1">
                                <div class="col-sm-4 bg-white">
                                  <div class="form-group">
                                    <label class="form-label">Exporter</label>
                                    <div class="form-control-wrap">
                                      <input type="text" class="form-control" value="{{request.exporter}}" name="exporter" id="default-01" disabled />
                                    </div>
                                  </div>
          
                                  <div class="form-group">
                                    <label class="form-label">Exporter Id </label>
                                    <div class="form-control-wrap">
                                      <input type="text" class="form-control" value="{{request.exporter_id}}" name="exporter_id" id="default-01" disabled />
                                    </div>
                                  </div>
          
                                  <div class="form-group">
                                    <label class="form-label">Destination</label>
                                    <div class="form-control-wrap">
                                      <input type="text" name="destination" class="form-control" value="{{request.destination }}" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <label class="form-label">Port</label>
                                  <div class="form-control-wrap">
                                    <input type="text" class="form-control" value="{{request.port }}" id="default-01" disabled />
                                  </div>
                                </div>
                                <div class="col-sm-4 bg-white">
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Driver Name</label>
                                    <div class="form-control-wrap">
                                      <input type="text" class="form-control" value="{{request.driver_name }}" name="driver_name" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Driver Phone Number</label>
                                    <div class="form-control-wrap">
                                      <input type="number" min="0" class="form-control" value="{{request.driver_phone_number}}" name="driver_phone_number" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Truck Plate Number</label>
                                    <div class="form-control-wrap">
                                      <input type="number" min="0" class="form-control" value="{{request.truck_plate_number }}" name="truck_plate_number" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Container Number</label>
                                    <div class="form-control-wrap">
                                      <input type="number" min="0" class="form-control" value="{{request.container_number }}" name="container_number" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Serial Number </label>
                                    <div class="form-control-wrap">
                                      <input type="text" class="form-control" value="{{request.serial_number }}" name="serial_number" id="default-01" disabled />
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-4 bg-white">
                                  <div class="form-group">
                                    <label class="form-label">Commodity Type</label>
                                    <div class="form-control-wrap">
                                      <input type="text" class="form-control" value="{{request.commodity_type }}" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label">Processing Type</label>
                                    <div class="form-control-wrap">
                                      <input type="text" class="form-control" value="{{request.processing_type }}" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label">Coffee Grade</label>
                                    <div class="form-control-wrap">
                                      <input type="text" class="form-control" value="{{request.coffee_grade}}" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label">Package Type</label>
                                    <div class="form-control-wrap">
                                      <input type="text" class="form-control" value="{{request.package_type}}" id="default-01" disabled />
                                    </div>
                                  </div>
          
                                  <label class="form-label">Dispatch Approval</label>
                                  <input type="text" class="form-control" value="{{request.dispatch_approval}}" id="default-01" disabled />
                                </div>
                              </div>
                              <div class="row gy-1">
                                <div class="col-sm-4 bg-white">
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Quantity of Package</label>
                                    <div class="form-control-wrap">
                                      <input type="number" min="0" class="form-control" value="{{request.quantity_of_package }}" name="quantity_of_package" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Net Weight (Kg)</label>
                                    <div class="form-control-wrap">
                                      <input type="number" min="0" class="form-control" value="{{request.net_weight }}" name="net_weight" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Total Weight(Kg)</label>
                                    <div class="form-control-wrap">
                                      <input type="number" min="0" class="form-control" value="{{request.total_weight }}" name="total_weight" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Unit Price</label>
                                    <div class="form-control-wrap">
                                      <input type="number" min="0" class="form-control" value="{{request.unit_price }}" name="unit_price" id="default-01" disabled />
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-4 bg-white">
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Crop year</label>
                                    <div class="form-control-wrap">
                                      <input type="number" min="0" class="form-control" value="{{request.crop_year }}" name="crop_year" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Certification Number</label>
                                    <div class="form-control-wrap">
                                      <input type="number" min="0" class="form-control" value="{{request.certification_number }}" name="certification_number" id="default-01" disabled />
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Contract Number </label>
                                    <div class="form-control-wrap">
                                      <input type="number" min="0" class="form-control" value="{{request.contract_number }}" name="contract_number" id="default-01" disabled />
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-4 bg-white">
                                  <h2 class="text-success">Documents</h2>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Warehouse Outgoing Voucher</label>
                                    <div class="form-control-wrap">
                                      {% if request.warehouse_outgoing_voucher %}
          
                                      <a href="{{request.warehouse_outgoing_voucher}}" class="text-success" target="_blank">View</a>
          
                                      {% else %}
          
                                      <span style="color: red">Not Attached</span>
          
                                      {% endif %}
                                    </div>
                                  </div>
          
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Other</label>
                                    <div class="form-control-wrap">
                                      {% if request.warehouse_outgoing_voucher %}
          
                                      <a href="{{request.other}}" target="_blank" class="text-success">View</a>
          
                                      {% else %}
          
                                      <span style="color: red">Not Attached</span>
          
                                      {% endif %}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" for="exporter">Picture</label>
                                    <div class="form-control-wrap">
                                      {% if request.warehouse_outgoing_voucher %}
          
                                      <a href="{{request.picture}}" target="_blank" class="text-success">View</a>
          
                                      {% else %}
          
                                      <span style="color: red">Not Attached</span>
          
                                      {% endif %}
                                    </div>
                                  </div>
                                </div>
                                <hr />
          
                                <div class="custom-control custom-control-lg custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck1" />
                                  <label class="custom-control-label" for="customCheck1">Seen</label>
                                </div>
                                <div class="custom-control custom-control-lg custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck2" />
                                  <label class="custom-control-label" for="customCheck2">Approve</label>
                                </div>
                                <div class="col-md-12">
                                  <br />
                                  <button id="saveBtn" type="submit" class="btn btn-primary float-right">Submit</button>
                                </div>
          
                                <button onclick="location.href='/abroadECTA'" class="btn btn-primary float-left">Cancle</button>
                              </div>
          
                              {% endfor %}
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- .card-preview -->
                    </div>
                    <!-- .nk-block -->
                  </div>
                  <!--.components-preview -->
                </div>
              </div>
            </div>
          </div>   
{% endblock %}

{%block script %}
    <script>
      frappe.csrf_token = "{{frappe.session.csrf_token}}";
      
    </script>
    <script>
      $("#customCheck1").change(function() {
        console.log("i am changed");
        if ($(this).is(':checked') ) {
           $("#saveBtn").removeAttr("disabled");
        } else {
          console.log("i am in else");
          $("#saveBtn").attr("disabled", "disabled");
        }
      }).trigger("change");
      
    </script>
    <script >
      
      $("#customCheck2").change(function() {
        console.log("i am changed");
        if ($(this).is(':checked') ) {
           approve = 1;
        } else {
          approve = 0;
        }
       }).trigger("change");
       
       var compareform = document.forms['form'];
       compareform.onsubmit = function(e){
       
       e.preventDefault();
       let call = async()=>{       
        if(true){
            let result = await $.ajax({
              
                  url: `/api/resource/Outgoing Dispatch/{{doc}}`,
                  type: 'PUT',
                
                headers: {
                    'Content-Type': 'application/json',
                    'X-Frappe-CSRF-Token': frappe.csrf_token
                },
                data: JSON.stringify({dispatch_approval:"Seen",approved_by:"{{user}}",approve:approve,date_of_approval:"{{date}}"}),
                success: function(data){
                    return data
                },
                error: function(data){
                    return data
                }
            });
            console.log(result);
           
            
       }
       }
       call();
       alert("Document updated successfully!!!")
       
       }
       
    </script>
{% endblock %}