
{% extends "templates/base_ecta.html" %} 
{% block title %}Warehouse Outgoings{% endblock %} 
{% block content %}
          <!-- content @s -->
          <div class="nk-content">
            <div class="container-fluid">
              <div class="nk-content-inner">
                <div class="nk-content-body">
                  <div class="components-preview wide-md mx-auto " >
                    <div class="nk-block nk-block-lg">
                      <div class="nk-block-head">
                        <div class="nk-block-head-content">
                          <h4 class="title nk-block-title">New Outgoing dispatch</h4>
                        </div>
                      </div>
                      <div class="card card-preview ">
                        <div class="card-inner ">
                          <div class="preview-block">
                            <span class="preview-title-lg overline-title">Default Preview</span>
                            <form id="newOutgoingForm">
                            <div class="row gy-1">
                              <div class="col-sm-4  bg-white" >
                                <div class="form-group">
                                  <label class="form-label" >Exporter</label>
                                  <div class="form-control-wrap">
                                    <input type="text" class="form-control" name = "exporter" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                 <label class="form-label" >Exporter Id	</label>
                                 <div class="form-control-wrap">
                                   <input type="text" class="form-control" name = "exporter_id"  id="default-01" placeholder="Input placeholder" required />
                                 </div>
                               </div>
                               
                                <div class="form-group">
                                  <label class="form-label" >Destination</label>
                                  <div class="form-control-wrap">
                                    <input type="text" name="destination" class="form-control"  id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                   <label class="form-label" >Port</label>
                                   <div class="form-control-wrap">
                                     <div class="form-control-select">
                                       <select class="form-control" name = "port" id="default-06">
                                         <option value="Addis Ababa Airport">Addis Ababa Airport</option>
                                         <option value="Djibouti Port">Djibouti Port</option>
                                         <option value="Mombasa Port">Mombasa Port</option>
                                         <option value="Port of Sudan">Port of Sudan</option>
                                         <option value="Berbera Port">Berbera Port</option>
                                       </select>
                                     </div>
                                 </div>
                               </div>
                              <div class="col-sm-4  bg-white" >
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Driver Name</label>
                                  <div class="form-control-wrap">
                                    <input type="text" class="form-control" name = "driver_name" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Driver Phone Number</label>
                                  <div class="form-control-wrap">
                                    <input type="number"  min="0" class="form-control" name = "driver_phone_number" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Truck Plate Number</label>
                                  <div class="form-control-wrap">
                                    <input type="number"  min="0" class="form-control" name = "truck_plate_number" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Container Number</label>
                                  <div class="form-control-wrap">
                                    <input type="number"  min="0" class="form-control" name = "container_number" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Serial Number	</label>
                                  <div class="form-control-wrap">
                                    <input type="text" class="form-control" name = "serial_number" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                              </div>   
                             <div class="col-sm-4  bg-white" >
                              <div class="form-group">
                                <label class="form-label" >Commodity Type</label>
                                <div class="form-control-wrap">
                                  <div class="form-control-select">
                                    <select class="form-control" name = "commodity_type" id="default-06">
                                      <option value="Coffee">Coffee</option>
                                      <option value="Tea">Tea</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="form-label" >Processing Type</label>
                                <div class="form-control-wrap">
                                  <div class="form-control-select">
                                    <select class="form-control" name = "processing_type" id="default-06">
                                      <option value="Washed">Washed</option>
                                      <option value="Unwashed">Unwashed</option>
                                      <option value="Roasted">Roasted</option>
                                      <option value="Anaerobic">Anaerobic</option>
                                      <option value="Aerobic Honey Carbonic">Aerobic Honey Carbonic</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="form-label" >Coffee Grade</label>
                                <div class="form-control-wrap">
                                  <div class="form-control-select">
                                    <select class="form-control" name = "coffee_grade" id="default-06">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                      <option value="8">8</option>
                                      <option value="9">9</option>
                                      <option value="UG">UG</option>
                                      <option value="Local">Local</option>
                                      <option value="Waste">Waste</option>

                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="form-label" >Package Type</label>
                                <div class="form-control-wrap">
                                  <div class="form-control-select">
                                    <select class="form-control" name = "package_type" id="default-06">
                                      <option value="Jute Bag (ኬሻ)">Jute Bag (ኬሻ)</option>
                                      <option value="Poly bags">Poly bags</option>
                                      <option value="20ft Container">20ft Container</option>
                                      <option value="40ft container">40ft container</option>
                                      <option value="Pallet">Pallet</option>
                                      <option value="CorrugatePackage d Boxes">Corrugated Boxes</option>
                                      <option value="Plastic Boxes">Plastic Boxes</option>
                                      <option value="Bulk">Bulk</option>

                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="form-control-select">
                                <label class="form-label" >Dispatch Approval</label>
                                <select class="form-control" name = "dispatch_approval" id="default-06">
                                  <option value="Seen">Seen</option>
                                  <option value="Rejected">Rejected</option>
                                </select>
                              </div>
                              </div>
                              <div class="col-sm-4  bg-white" >
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Quantity of Package</label>
                                  <div class="form-control-wrap">
                                    <input type="number"  min="0" class="form-control" name = "quantity_of_package" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Net Weight (Kg)</label>
                                  <div class="form-control-wrap">
                                    <input type="number"  min="0" class="form-control" name = "net_weight" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Total Weight(Kg)</label>
                                  <div class="form-control-wrap">
                                    <input type="number"  min="0" class="form-control" name = "total_weight" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Unit Price</label>
                                  <div class="form-control-wrap">
                                    <input type="number"  min="0" class="form-control" name = "unit_price" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                              
                              </div>             
                              <div class="col-sm-4  bg-white" >
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Crop year</label>
                                  <div class="form-control-wrap">
                                    <input type="number"  min="0" class="form-control" name = "crop_year" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Certification Number</label>
                                  <div class="form-control-wrap">
                                    <input type="number"  min="0" class="form-control" name = "certification_number" id="default-01" placeholder="Input placeholder" required />
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="form-label" for="exporter">Contract Number	</label>
                                  <div class="form-control-wrap">
                                    <input type="number"  min="0" class="form-control" name = "contract_number" id="default-01" placeholder="Input placeholder" required required />
                                  </div>
                                </div>
                      
                              </div>    
                              <div class="col-sm-4  bg-white" >
                                <h3> Documents</h3>
                                <div class="row">
                                  <div class="form-group">
                                    <label class="form-label" >
                                      Warehouse Outgoing Voucher</label>
                                    <div class="form-control-wrap">
                                      <div class="custom-file">
                                        <input type="file" accept=
                                        "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoi  nt,
                                        text/plain, application/pdf, image/*" required multiple class="custom-file-input" id="warehouseVoucher" required />
                                        <label class="custom-file-label" >Attach</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">Other</label>
                                    <div class="form-control-wrap">
                                      <div class="custom-file">
                                        <input type="file" multiple class="custom-file-input" id="other" />
                                        <label class="custom-file-label" >Attach</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label" >Picture</label>
                                    <div class="form-control-wrap">
                                      <div class="custom-file">
                                        <input type="file" multiple class="custom-file-input" id="picture" />
                                        <label class="custom-file-label" >Attach</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                               
                              </div>                  
                                <div class="col-md-12"><br>
                                  <button type="submit" class = "btn btn-primary float-right">Submit</button>
                                  <button onclick="location.href='/outgoings'"class="btn btn-primary float-left">Cancle</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- .card-preview -->
                    </div>
                    <!-- .nk-block -->
                  </div>
                  <!--.components-preview -->
                </div>
              </div>
            </div>
          </div>
          <!-- content @e -->
{% endblock %} 
{% block script %}    
    <!-- JavaScript -->
    <script src="/assets/ecta_dispatch/assets/js/newOutgoing.js"></script>
    <script>
      frappe.csrf_token = "{{frappe.session.csrf_token}}";
    </script>
{% endblock %}