{% extends "templates/base_ecta.html" %} 
{% block title %}Warehouse Outgoings{% endblock %} 
{% block content %}
   <!-- content @s -->
   <div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
               </div><!-- .nk-block-head -->
                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h2 class="nk-block-title">Outgoing Dispatches</h2>
                                <div class="nk-block-des">
                                    <button onclick="location.href='/outgoings/new'"class="btn btn-primary float-right">New Outgoing Dispath</button>
                                    <p class="nk-block-title">This are out going dispatches of warehouse <b>{{warehouse[0]["name"]}}</b></p>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="card card-preview">
                            <div class="card-inner">
                                <div>
                                    <table class="datatable-init table">
                                        <thead>
                                             <tr>
                                             <!-- <th scope="col">#</th> -->
                                             <th scope="col">Name</th>
                                             <th scope="col">Warehouse</th>
                                             <th scope="col">Exporter</th>
                                             <th scope="col">Commodity type</th>
                                             <th scope="col">Processing type</th>
                                             <th scope="col">Coffee grade</th>
                                             <td scope="col">dispatch_approval</td>
                                             <th scope="col">package_type</th>
                                             <th scope="col">quantity_of_package</th>
                                             <th scope="col">net_weight</th>
                                             <th scope="col">total weight</th>
                                             <th scope="col">warehouse_outgoing_voucher</th>
                                            </tr>
                                           </thead>
                                           <tbody>
                                            {% for request in outgoing_dispatches %}
                                                <tr>
                                                    <!-- <th scope="row">{{request.name}}</th> -->
                                                    <td>{{request.name}}</td>
                                                    <td>{{warehouse[0]["name"]}}</td>
                                                    <td>{{request.exporter}}</td>
                                                    <td>{{request.commodity_type}}</td>
                                                    <td>{{request.processing_type}}</td>
                                                    <td>{{request.coffee_grade}}</td>
                                                    <td>{{request.dispatch_approval}}</td>
                                                    <td>{{request.package_type}}</td>
                                                    <td>{{request.quantity_of_package}}</td>
                                                    <td>{{request.net_weight}}</td>
                                                    <td>{{request.total_weight}}</td>
                                                    <td>{{request.warehouse_outgoing_voucher}}</td>
                                               
                                                    <!-- <td>
                                                        {% if request.proof_of_delivery %}
                                                        <a href="{{request.proof_of_delivery}}" target="_blank">Proof of delivery</a>
                                                        {% else %}
                                                            <span style="color:red">NA</span>
                                                        {% endif %}
                                                        </td>                            
                                                        <td>{{request.creation}}</td>
                                                        <td>{{request.modified}}</td>
                                                        {% if request.status == "Delivered" or request.status == "Seen" %}
                                                            <td><i class="fa fa-lg fa-check"></i></td>
                                                        {% elif request.proof_of_delivery %}
                                                            <td><a href="#"   data-id="{{request.name}}" class="dispatchName text-success" data-toggle="modal" data-target="#Receive" data-backdrop="true">Update</a></td>
                                                        {% else %}
                                                            <td><a href="#"   data-id="{{request.name}}" class="dispatchName text-danger" data-toggle="modal" data-target="#Receive" data-backdrop="true">Receive</a></td>
                                                        {% endif %}
                                           
                                                    <td>
                                                        {% if request.approved %}
                                           
                                                            <i class="fa fa-lg fa-check"></i>
                                                        {% else %}
                                                        <i class="fa fa-car fa-lg"></i>
                                                        {% endif %}         -->
                                                    
                                                   
                                                </tr>
                                            {% endfor %}
                                           </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- .card-preview -->
                    </div> <!-- nk-block -->
                   
                </div><!-- .components-preview -->
            </div>
        </div>
    </div>
</div>
 <!-- Recieve proof modal @s-->

 < <div id="Receive" class="modal custom-modal fade" role="dialog">
    <div
    class="modal-dialog modal-dialog-centered modal-lg"
    role="document"
    >
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Dispatch Acceptance Form</h5>
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form id="dispatchForm">
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label"></label>
                        <label for="">Status</label>
                        <select id="dispatchStatus" name = "status" class="select">
                            <option  value="Delivered">Delivered</option>
                            <option  value="Undelivered">Not Delivered</option>
                        </select>
                    </div>
                <div class="col-md-6">
                    <label for="">Received Volume in Bag</label>
                    <input type="number" class="form-control formInputs inputs" 
                        name="received_volume_in_bag"  min="0" value="" required>
                </div>
            
                <div class="col-md-6">
                    <label for="">Received Volume in Ton</label>
                    <input type="number" class="form-control formInputs inputs" 
                    name="received_volume_in_ton" min="0" value="" required>
                </div>
                <div class="col-md-6">
                    <label for="">Proof of delivery</label>
                    <input type="file" class="form-control formInputs" placeholder="File"
                    name="image" accept=
                    "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                    text/plain, application/pdf, image/*" id="file" value=""required>
                </div>
            
                <div class="col-md-12"><br>
                    <button class="btn btn-primary float-right">Submit</button>
                </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
</div> 
<!-- content @e -->
{% endblock %}
{% block script %}
<script src="/assets/ecta_dispatch/assets/js/ecta.js"></script>
<script>
  frappe.csrf_token = "{{frappe.session.csrf_token}}";
</script>
{% endblock %}

             
 
